/* Carousel.module.css */
.carouselContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.scrollButtonLeft {
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.scrollButtonRight {
  right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
