.productCard {
  min-width: 300px;
  width: 300px;
  text-align: center;
  margin-right: 20px;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-medium);
  padding: 16px;
}

.productCard:last-child {
  margin-right: 0;
}

.productImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}