/* ProductList.module.css */
.productCard {
  min-width: 300px;
  width: 300px;
  text-align: center;
  margin-right: 20px;
  flex-shrink: 0;


  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-medium);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  padding: 16px;
}

.productCard:last-child {
  margin-right: 0;
}

.productImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}